<div fxLayout="column" fxLayoutAlign="space-evenly start">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <mat-form-field fxFlexOffset="1">
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="filterValue.id" (ngModelChange)="filterPeople()"  fxFlexOffset="1"
      >
    </mat-form-field>
    <mat-form-field fxFlexOffset="1">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="filterValue.name" (ngModelChange)="filterPeople()"  fxFlexOffset="1"
      >
    </mat-form-field>
    <mat-form-field fxFlexOffset="1">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="filterValue.phone" (ngModelChange)="filterPeople()"  fxFlexOffset="1"
      >
    </mat-form-field>
    <mat-form-field fxFlexOffset="1">
      <mat-label>Salary</mat-label>
      <input matInput [(ngModel)]="filterValue.salary" (ngModelChange)="filterPeople()"  fxFlexOffset="1"
      >
    </mat-form-field>
    <mat-form-field fxFlexOffset="1">
      <mat-label>Date of birth</mat-label>
      <input [matDatepicker]="picker" [(ngModel)]="filterValue.dateOfBirth" (ngModelChange)="filterPeople()"
             matInput>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlexOffset="1">
      <mat-label>Married</mat-label>
      <mat-select [(value)]="filterValue.isMarried" (selectionChange)="filterPeople()">
        <mat-option>
          None
        </mat-option>
        <mat-option [value]="true">
        Married
        </mat-option>
        <mat-option [value]="false">
          Not married
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <label for="file">Choose File</label>
      <input type="file"
             id="file"
             accept="text/csv"
             (change)="handleFileInput($event)">
      <button (click)="uploadFile()">Upload</button>
    </div>
  </div>
<table mat-table matSort [dataSource]="dataSource" fxFlexOffset="1" class="mat-elevation-z8" >

  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"><input matInput [(ngModel)]=element.name> </td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date of birth </th>
    <td mat-cell *matCellDef="let element">
      <input class="date-input"[matDatepicker]="picker" [(ngModel)]="element.dateOfBirth" matInput>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </td>
  </ng-container>

  <ng-container matColumnDef="isMarried">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Is Married </th>
    <td mat-cell *matCellDef="let element"><mat-select [(ngModel)]=element.isMarried [value]=element.isMarried>
      <mat-option>
        None
      </mat-option>
      <mat-option [value]="true">
        Married
      </mat-option>
      <mat-option [value]="false">
        Not married
      </mat-option>
    </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"><input matInput type="tel"
                                                  [textMask]="{mask: phoneMask, guide: true}" [(ngModel)]=element.phone></td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let element"><input type="number" matInput [(ngModel)]=element.salary></td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deletePerson(element.id)" mat-mini-fab  color="primary">
      <mat-icon>delete</mat-icon>
    </button></td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="updatePerson(element)" mat-mini-fab  color="secondary">
        <mat-icon>update</mat-icon>
      </button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<!--<form (ngSubmit)="add()" [formGroup]="form" fxLayout="column" fxLayoutAlign="center" fxFlexOffset="1">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Name</mat-label>-->
<!--    <input formControlName="name" matInput-->
<!--    />-->
<!--  </mat-form-field>-->
<!--  <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">-->
<!--    <small *ngIf="form.get('name').errors.required">Name is required</small>-->
<!--    <small *ngIf="form.get('name').errors.minlength">Name length must be more than 1</small>-->
<!--  </mat-error>-->
<!--  <mat-form-field appearance="standard">-->
<!--    <mat-label>Phone number</mat-label>-->
<!--      <input matInput formControlName="phone" type="tel"-->
<!--             [textMask]="{mask: phoneMask, guide: true}">-->
<!--      <mat-hint>Format: +XX (YYY) XX-XX-XXX</mat-hint>-->
<!--      <mat-icon matSuffix>phone</mat-icon>-->
<!--    <mat-error-->
<!--      *ngIf="form.get('phone').invalid && form.get('phone').touched">-->
<!--      <small *ngIf="form.get('name').errors.required">phone is required</small>-->
<!--      <small *ngIf="form.get('name').errors.minlength">Name length must be more than 1</small>-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Salary</mat-label>-->
<!--    <input matInput type="number" formControlName="salary">-->
<!--    <span matPrefix>$&nbsp;</span>-->
<!--  </mat-form-field>-->
<!--  <mat-error *ngIf="form.get('salary').invalid && form.get('salary').touched">-->
<!--    <small *ngIf="form.get('salary').errors.required">Name is required</small>-->
<!--    <small *ngIf="form.get('salary').errors.min">Salary must be more than 0</small>-->
<!--  </mat-error>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>DateOfBirth</mat-label>-->
<!--    <input [matDatepicker]="picker" [max]="maxDate" formControlName="dateOfBirth"-->
<!--           matInput>-->
<!--    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--    <mat-error *ngIf="form.get('dateOfBirth').hasError('required')">-->
<!--      Valid date required.-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Is Married</mat-label>-->
<!--    <mat-select formControlName="isMarried">-->
<!--      <mat-option value="True">-->
<!--        Yes-->
<!--      </mat-option>-->
<!--      <mat-option value="False">-->
<!--        No-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <button [disabled]="!form.valid" mat-flat-button type="submit">Submit</button>-->
<!--</form>-->
</div>
